apiVersion: v1
kind: Secret
metadata:
  name: twenty-secrets
  namespace: twenty-prod
  labels:
    app.kubernetes.io/part-of: twenty
type: Opaque
stringData:
  DB_PASSWORD: "<DB_PASSWORD_FROM_TERRAFORM>"
  HMAC_SECRET: "<HMAC_SECRET_FROM_TERRAFORM>"
  APP_SECRET: "<GENERATE_WITH_openssl_rand_hex_32>"
  PG_DATABASE_URL: "postgres://twenty:<URL_ENCODED_DB_PASSWORD>@pgbouncer-service.twenty-prod.svc.cluster.local:6432/twenty"
